body {
    background-color: rgba(255, 0, 111, 0.533);
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

:root {
    scroll-behavior: smooth;
}

div {
    border: 1px solid black;
    /* margem interna*/
    padding: 30px;
}

.container {
    max-width: 900px;
    margin: auto;
    /*centraliza a propria div*/
    padding: 0;
}

/* chama a div com class="topo" */
.topo {
    background-color: rgb(220, 240, 245);
    text-align: center;
}

.nav {
    background-color: rgb(27, 170, 39);
    display: flex;
    justify-content: space-around;
}

.principal {
    background-color: chocolate;
}

.rodape {
    background-color: rgb(19, 105, 84);
}

/*colors.co/ */
/* adobe colors */
/* paletton */
.cardapio {
    background-color: rgb(88, 104, 19);



}

/* tabela*/
table {
    width: 100%;
    border: 1px solid rgb(121, 34, 138);
}

td {
    padding: 20px;
    border: 1px solid rgb(0, 0, 0);

}

th {
    background-color: black;
    color: aquamarine;
    padding: 20px;
}